@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:400,700&display=swap');

$white:#fff;
$black:#111;
$primary-color:hsl(273, 65%, 35%);
$primary-color-light:hsl(273, 65%, 93%);
$secondary-color:rgba(245, 133, 63, 1);
$box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
$box-shadow-lg:4px 6px 15px rgba(0,0,0,0.05);
$body-font:'Muli', sans-serif;
$heading-font:'Montserrat', sans-serif;