html {
  box-sizing: border-box;
  font-size: 16px !important;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  html {
    font-size: 14px !important;
  }
}
